/*
 * index.html
 */

.navbar-fixed-top {
  top:0;
}

.notification-panel {
  position: fixed;
  right: 30px;
  top: 75px;
  width: 300px;
  z-index: 10;
}

/*
 * Login view
 */

.login-body {
  margin:0 auto;
  max-width: 500px;
}

.loading-login {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.loading-login-text {
  font-size: 20px;
  margin: 10px auto;
}

/*
 * Apps view
 */

.sidebar {
  margin: 0 auto;
  margin-top: 71px;
  width: 300px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
}

.sidebar-list-el {
  align-items: center;
  display: flex;
  flex-direction: row;
  height:50px;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
}

.app-container {
  margin-top: 30px;
}

.panel-body {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
}

.apk-item-title {
  display: block;
  font-size: 22px;
  margin-bottom: 12px;
  margin-top:10px;
  white-space: nowrap;
}

.apk-info {
  margin-left: 20px;
}

.apk-buttons {
  display: block;
  padding:15px;
  text-align:right;
}

.apk-buttons > a {
  margin-left: 30px;
}

.apk-progress {
  margin:24px 15px 18px 15px;
}

/*
 * Search view
 */

.view-container {
  max-width: 1000px;
  margin:0 auto;
  margin-top: 81px;
  padding:0 15px;
}

.dl-button {
  cursor: pointer;
  color: #333333;
}

.dl-button:hover {
  color: #333333;
}

.dl-button-disabled {
  cursor: default;
  pointer-event: none;
  color: #BABABA;
}

.dl-button-disabled:hover {
  color: #BABABA;
}

#dl-button-td {
  width:80px;
}

#search-progress {
  margin-top:40px;
  margin-left:30px;
  margin-right:30px;
}

#search-area {
  padding:0 10px;
}

.table {
  margin-top:40px;
}

#table-body > tr {
  line-height: 70px;
  vertical-align: middle;
}

#table-body > tr > td {
  vertical-align: middle;
}


@media (min-width: 768px) {
  .sidebar {
    background-color:#f7f7f7;
    bottom:0;
    left:0;
    margin:0;
    padding-top:30px;
    position: fixed;
    top: 51px;
    width: 300px;
  }

  .app-container {
    margin-left:300px;
    margin-top: 81px;
    max-width: 1200px;
    overflow: auto;
  }
}
