.apk-item-title {
  margin:0;
  margin-bottom: 10px;
  padding:0;
}

#notification-panel {
  position: fixed;
  right: 30px;
  top: 75px;
  width: 300px;
  z-index: 10;
}

#function-bar {
  margin-top:30px;
  margin-bottom:30px;
}

.dl-button {
  cursor: pointer;
  color: #333333;
}

#app-message {
  min-width: 250px;
  margin: 0 auto;
  color: #888888;
  font-size: 30px;
}

.dl-button:hover {
  color: #333333;
}

.dl-button-disabled {
  cursor: default;
  pointer-event: none;
  color: #BABABA;
}

.dl-button-disabled:hover {
  color: #BABABA;
}

#dl-button-td {
  width:80px;
}

.message {
  position: fixed;
  top:0;
  left:0;
  width:100%
}

.progress {
  margin-bottom:14px;
}

#search-progress {
  margin-top:40px;
  margin-left:30px;
  margin-right:30px;
}

#fdroid-progress {
  margin-left:30px;
  margin-right:30px;
}

#update-all {
  cursor: pointer;
}

#search-area {
  padding-left:10px;
  padding-right:10px;
}

.table {
  margin-top:40px;
}

#table-body > tr {
  line-height: 70px;
  vertical-align: middle;
}

#table-body > tr > td {
  vertical-align: middle;
}
