.panel-body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.apk-item-title {
  display: block;
  white-space: nowrap;
  margin-top:10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.apk-info {
  margin-left: 40px;
}

.apk-buttons {
  display:flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin:0 20px 20px 20px;
}

#apk-progress {
  margin:0 20px 14px 20px;
}

.apk-buttons > a {
  margin-left: 30px;
}

#login-body {
  max-width: 500px;
  margin:0 auto;
}

#notification-panel {
  position: fixed;
  right: 30px;
  top: 75px;
  width: 300px;
  z-index: 10;
}

#function-bar {
  margin-top:30px;
}

#function-bar > a {
 margin-bottom:20px;
}

#app-container {
  margin-top: 30px;
}

.dl-button {
  cursor: pointer;
  color: #333333;
}

#app-message {
  min-width: 250px;
  margin: 0 auto;
  color: #888888;
  font-size: 30px;
}

.dl-button:hover {
  color: #333333;
}

.dl-button-disabled {
  cursor: default;
  pointer-event: none;
  color: #BABABA;
}

.dl-button-disabled:hover {
  color: #BABABA;
}

#dl-button-td {
  width:80px;
}

.message {
  position: fixed;
  top:0;
  left:0;
  width:100%
}

.progress {
  margin-bottom:14px;
}

#search-progress {
  margin-top:40px;
  margin-left:30px;
  margin-right:30px;
}

#fdroid-progress {
  margin-left:30px;
  margin-right:30px;
}

#update-all {
  cursor: pointer;
}

#search-area {
  padding-left:10px;
  padding-right:10px;
}

.table {
  margin-top:40px;
}

#table-body > tr {
  line-height: 70px;
  vertical-align: middle;
}

#table-body > tr > td {
  vertical-align: middle;
}
