.apk-item-title {
  margin:0;
  margin-bottom: 10px;
  padding:0;
}

#function-bar {
  margin-bottom:30px;
}

.dl-button {
  cursor: pointer;
}

#update-all {
  cursor: pointer;
}

#search-area {
  padding-left:10px;
  padding-right:10px;
}

#search-table {
  margin-top:40px;
}

#table-body > tr {
  line-height: 70px;
  vertical-align: middle;
}

#table-body > tr > td {
  vertical-align: middle;
}

#table-body > tr > td > a {
  color: #333333;
}
