<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Playmaker</title>
    <meta name="description" content="Xonotic scoreboard 0.1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='gplay.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation">
            <a href="/">Apps</a>
          </li>
          <li role="presentation">
            <a href="/search">Search</a>
          </li>
          <li role="presentation" class="active">
            <a href="/config">Config</a>
          </li>
        </ul>
      </nav>
      <h2 class="apptitle">Playmaker</h2>
      </div>

      <div id "devlog">config page</div>
    </div>
    <script src="{{ url_for('static', filename='gplay.js') }}"></script>
  </body>
</html>
