<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Playmaker</title>
    <meta name="description" content="Xonotic scoreboard 0.1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap-material-design.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ripples.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/gplay.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- navbar -->
    
    <!-- container -->
    <div class="container">

    </div>

    <!-- graphic js resources -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ripples.min.js') }}"></script>
    <!-- backbone libraries -->
    <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>

    <!-- playmaker app -->
    <script src="{{ url_for('static', filename='js/gplay.js') }}"></script>
  </body>
</html>
