<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Playmaker</title>
    <meta name="description" content="Xonotic scoreboard 0.1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>
    <h2>Playmaker</h2>
    <table class="table" id="appsTable">
      <thead>
        <tr><th>Name</th><th>Developer</th><th>Version</th></tr>
      </thead>
      <tbody id="appsTableBody">
      </tbody>
    </table>
    <div id "devlog"></div>
    <script src="{{ url_for('static', filename='gplay.js') }}"></script>
  </body>
</html>
