<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Playmaker</title>
    <meta name="description" content="Xonotic scoreboard 0.1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='gplay.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Playmaker</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a id="app-page-link"><i class="fa fa-android fa-1x" aria-hidden="true"></i> Apps</a></li>
            <li><a href="/search" id="search-page-link"><i class="fa fa-search fa-1x" aria-hidden="true"></i> Search</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container" id="container">
      <div id="function-bar">
        <a id="update-all" class="btn btn-default"><i class="fa fa-refresh" aria-hidden="true"></i> check</a>
      </div>
    </div>

    <!-- templates -->
    <script type="text/template" id="apk-template">
      <div class="col-xs-12 col-md-6">
        <div id="apk-item" class="panel panel-default">
          <div class="panel-body">
            <strong><h3 class="apk-item-title"><%- title %></h3></strong>
            <span><strong>Developer: </strong><%- developer %></span><br>
            <span><strong>Version: </strong><%- version %></span><br>
            <span><strong>Size: </strong><%- size %></span><br>
            <span><strong>Version: </strong><%- version %></span><br>
            <span><strong>PackageId: </strong><%- docId %></span><br>
            <span><strong>Stars: </strong><%- stars %></span><br><br>
            <button id="apk-item-update" class="btn btn-raised btn-primary" type="button"><i class="fa fa-download" aria-hidden="true"></i> update</button>
            <a id="apk-item-delete" class="btn btn-raised btn-danger pull-right"><i class="fa fa-trash-o" aria-hidden="true"></i> delete</a>
          </div>
        </div>
      </div>
    </script>

    <script type="text/template" id="loading-template">
      <div class="col-xs-12 col-md-6">
        <div id="apk-item" class="panel panel-default">
          <div class="panel-body">
            <strong><h3 class="apk-item-title"><%- title %></h3></strong>
            <span><strong>Developer: </strong><%- developer %></span><br>
            <span><strong>Version: </strong><%- version %></span><br>
            <span><strong>Size: </strong><%- size %></span><br>
            <span><strong>Version: </strong><%- version %></span><br>
            <span><strong>PackageId: </strong><%- docId %></span><br>
            <span><strong>Stars: </strong><%- stars %></span><br><br>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                <span class="sr-only">Updating</span>
              </div>
            </div><!-- progress -->
          </div><!-- panel-body -->
        </div><!-- apk-item -->
      </div><!-- col -->
    </script>

    <!-- graphic js resources -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- backbone libraries -->
    <script src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>

    <!-- playmaker app -->
    <script src="{{ url_for('static', filename='gplay.js') }}"></script>
  </body>
</html>
